<%= link_to "Back to Workouts", root_path %>

<%= javascript_pack_tag ‘hello_react’ %>

<div class="workout-form">

    <% if @workout.errors.present? %>
        <p>We couldn't save this workout for the following reasons:</p>
        <ul>
            <% @workout.errors.full_messages.each do |error| %>
                <li><%= error %></li>
            <% end %>
        </ul>
    <% end %>
    
    <%= form_for @workout, url: { action: "create" } do |f| %>
        <div class="text-input">
            <%= f.label :name %>
            <br />
            <%= f.text_field :name %>
        </div>

        <div class="text-input">
            <%= f.label :condition %>
            <br />
            <%= select_tag(:condition, options_for_select(@conditions)) %>
        </div>

        <% if @workout.condition == "For Time" %>
            <div class="text-input">
                <%= f.label :time %>
                <br />
                <%= f.text_field :time %>
            </div>
        <% elsif @workout.condition = "Max Weight" %>
            <div class="text-input">
                <%= f.label :max_weight %>
                <br />
                <%= f.text_field :max_weight %>
            </div>
        <% elsif @workout.condition = "Max Reps" %>
            <div class="text-input">
                <%= f.label :reps %>
                <br />
                <%= f.text_field :reps %>
            </div>
        <% end %>

        <div class="text-input">
            <%= f.label :notes %>
            <br />
            <%= f.text_area :notes %>
        </div>

        <%= f.submit("Create Workout") %>
    <% end %>
</div>