<%= link_to "Back to Workouts", root_path %>

<div class="workout-form">

    <% if @workout.errors.present? %>
        <p>We couldn't save this workout for the following reasons:</p>
        <ul>
            <% @workout.errors.full_messages.each do |error| %>
                <li><%= error %></li>
            <% end %>
        </ul>
    <% end %>
    
    <%= form_for @workout, url: { action: "create" } do |f| %>
        <div class="text-input">
            <%= f.label :name %>
            <br />
            <%= f.text_field :name %>
        </div>

        <div class="text-input">
            <%= f.label :condition %>
            <br />
            <%= f.text_field :condition %>
        </div>

        <div class="text-input">
            <%= f.label :time %>
            <br />
            <%= f.text_field :time %>
        </div>

        <div class="text-input">
            <%= f.label :max_weight %>
            <br />
            <%= f.text_field :max_weight %>
        </div>

        <div class="text-input">
            <%= f.label :reps %>
            <br />
            <%= f.text_field :reps %>
        </div>

        <div class="text-area-input">
            <%= f.label :notes %>
            <br />
            <%= f.text_area :notes %>
        </div>

        <%= f.submit("Create Workout") %>
    <% end %>
</div>