<div class="workout">
    <div class="">
        <h3><%= @workout.name %></h3>
    </div>
    <div class="">
        <h4><%= @workout.condition %></h4>
    </div>
    <div class="">
        <h4><%= @workout.max_weight %></h4>
    </div>
    <div class="">
        <b><%= @workout.time %></b>
    </div>
    <div class="">
        <b><%= @workout.reps %></b>
    </div>
</div>

<%= link_to "Delete Workout", workout_path(@workout), data: {:confirm => 'Are you sure?'}, :method => :delete %>