<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="navigation">
      <div class="application-title"><%= link_to "Iron & Soil", root_path %></div>
      <ul class="nav-items">
        <li class="nav-item">IRON</li>
        <li class="nav-item">SOIL</li>
        <li class="nav-item">Settings</li>
      </ul>
    </div>

    <div class="message-box">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <div class="main-content">
      <%= yield %>
    </div>
  </body>
</html>
