<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navigation">
      <div class="application-title">Workout Log</div>
      <ul class="nav-items">
        <li class="nav-item">Workouts</li>
        <li class="nav-item">Nutrition</li>
        <li class="nav-item">Settings</li>
      </ul>
    </div>

    <%= yield %>
  </body>
</html>
